@charset "UTF-8";





.repository-sidebar .history {
  left: 0px;
  position: relative;
  top: 0px;
  width: 180px;
  opacity: 0;
}
.repository-sidebar h1 {
  width: auto;
  min-width: inherit;
  font-size: 15px;
  text-align: center;

}
.repository-sidebar > .info {
  width: 180px;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  margin-top: 40px;
}
}
.repository-sidebar > .info > h1 {
  color: red;
}
.repository-sidebar .history .hist-item {
  list-style: decimal;
  margin-left: 20px;
}
.repository-sidebar .history .hist-item > a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.milestone-breakdown,
.issues-closed {
  width: 180px;
}

.milestone-breakdown .legend,
.issues-closed .legend {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.milestone-breakdown .legend .pie-legend,
.issues-closed .legend .pie-legend {
  margin-left: 20px;
  list-style: decimal;
}
.milestone-breakdown canvas.canvas,
.issues-closed canvas.canvas {
  cursor: pointer;
}
.milestone-breakdown .legend .pie-legend li > span,
.issues-closed .legend .pie-legend li > span {
  cursor: pointer;
}


.new-comments {
  opacity: 0;
}
