@charset "UTF-8";





.repository-sidebar .history {
  left: 0px;
  position: relative;
  top: 0px;
  width: 180px;
  opacity: 0;
}
.repository-sidebar .history .hist-item {
  list-style: decimal;
  margin-left: 20px;
}
.repository-sidebar .history .hist-item > a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.new-comments {
  opacity: 0;
}
