@charset "UTF-8";



.protip h1,
.protip h1 {
  width: auto;
  min-width: inherit;
  font-size: 15px;
  text-align: center;

}
.protip > .info_3,
.protip > .info_2,
.protip > .info {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  margin-top: 40px;
}
.protip > .info_3 > div,
.protip > .info_2 > div,
.protip > .info > div {
  display: inline-block;
  vertical-align: top;
}
.protip > .info_3 > h1,
.protip > .info_2 > h1,
.protip > .info > h1 {
  color: red;
}
.protip .history .hist-item {
  list-style: decimal;
  margin-left: 20px;
}
.protip .history .hist-item > a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
  padding-left: 5px;
  width: calc(100% - 16px);
}

.protip .history {
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  text-align:  left;
  opacity: 0;
}
.protip .history > .set {
  vertical-align: top;
  display: inline-block;
  width: calc(100% / 3);
}
.protip .history > .set .avatar {
  width: 16px;
  display: inline-block;
}
.milestone-breakdown .legend,
.issues-closed .legend {
  display: inline-block;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.milestone-breakdown .legend .pie-legend,
.issues-closed .legend .pie-legend {
  margin-left: 10px;
  list-style: decimal;
}
.protip canvas.canvas {
  cursor: pointer;
}
.pie-legend li > span {
  cursor: pointer;
}


.new-comments {
  opacity: 0;
}
